@use "../variables" as *;

//UTILITY
    .box-edit {
        box-shadow: 1px 8px 12px 0px rgba(0,0,0,0.68);
        border-radius: 5px;
    }

    .secondary-color {
        color: $secondary-color;
    }

    .mf-admin-container {
        background-color: $primary-color;
    }

    .mf-admin-card {
        background-color: $primary-color;
        width: 500px;
        &:hover {
            transform: scale(1.1);
        }
    }
//  /UTILITY


#admin-header, #nav-aside {
    a {
        color: $secondary-color;
        text-decoration: none;
        font-weight: 500;
        transition: all .4s;
        &:hover {
            color: white;
        }
        &.active {
            color: white;
            padding-bottom: 5px;
            border-bottom: white 1px solid;
        }
    }
}

#main-admin {
    overflow-y: auto;
    height: calc(100vh - 70px);
}
